.efek-hover a {
    border: 5px solid transparent;
    width: 200px;
    float: left;
    position: relative;
    cursor: pointer;
}
.efek-hover img {
    border-radius: 5px;
}
.efek-hover a:before {
    transition: all .6s ease;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333333;
    transform: scale(0);
    border-radius: 5px;
}

.efek-hover a:hover:before {
    opacity: .2;
    transform: scale(1);
}

.efek-hover a:after {
    transition: all .7s ease .2s;
    content: "";
    position: absolute;
    top: 8px;
    left: 8px;
    right: 8px;
    bottom: 8px;
    border: 2px solid #fff;
    border-radius: 5px;
    background: #252525;
    opacity: 0;
    transform: scale(0);
}

.efek-hover a:hover:after {
    opacity: .35;
    transform: scale(1);
    border-radius: 5px;
}